In [1]:
import numpy as np
import pandas as pd
from tqdm import trange
import random

In [2]:
ALPHABET = ['A', 'R', 'N', 'D', 'C', 'Q', 'E', 'G', 'H', 
            'I', 'L', 'K', 'M', 'F', 'P', 'S', 'T', 'W', 'Y', 'V']
print(len(ALPHABET))

20

In [3]:
def gen_fake_data(length):
    seq_list = []
    data_list = []
    for i in trange(length):
        seq = random.choices(ALPHABET, k=7)
        seq_individual = ''.join(seq)
        seq_list.append(seq_individual)
        data_list.append(random.randint(0,100))
        col_list = ['seq', 'num_bounding']
    df = pd.DataFrame(zip(seq_list, data_list), columns=col_list)
    return df

In [4]:
df1 = gen_fake_data(10**6)

100%|██████████| 1000000/1000000 [00:03<00:00, 269361.44it/s]

In [7]:
seq_list = df1['seq'].to_list()
with open('seq_for_seperation.txt', 'w') as f:
    for s in seq_list:
        f.write('_' + s + '\n')